{% load video_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Поиск новостей</h3>
    <form action="{% url 'reviews_ali:search_news' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите новость..." name="search_news"
               class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>
<div class="search-bar w3layouts-newsletter" style="margin-top: 50px;">
    <h3 class="sear-head editContent">Поиск видео-обзора</h3>
    <form action="{% url 'reviews_ali:search_video' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите название видео..." name="search_video"
               class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>

<div class="search-bar w3layouts-newsletter" style="margin-top: 50px;">
    <h3 class="sear-head editContent">Поиск товара Aliexpress</h3>
    <form action="{% url 'reviews_ali:search_ali' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите название товара..." name="search_ali"
               class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>
<form action="{% url 'reviews_ali:filter_category' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Категории</h3>
        <ul class="w3layouts-box-list">
            {% for category in view.get_category %}
                <li class="editContent">
                <input type="checkbox" class="checked" name="category" value="{{ category.id }}">
                <span class="span editContent">{{ category.title }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
</form>
    <!-- discounts -->


<!-- //discounts -->
<!-- reviews -->
<!-- //reviews -->
<!-- deals -->
{% get_last_movies count=2 %}