{% load video_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Поиск новостей</h3>
    <form action="{% url 'reviews_ali:search_news' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите новость..." name="search_news"
               class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>
<div class="search-bar w3layouts-newsletter" style="margin-top: 20px;">
    <h3 class="sear-head editContent">Поиск актёра</h3>
    <form action="#" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите имя актёра..." name="actor"
               class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>

    <!-- discounts -->


<!-- //discounts -->
<!-- reviews -->
<!-- //reviews -->
<!-- deals -->
{% get_last_movies count=2 %}